{% extends "base.html" %} 
{% load static %}

{% block title %}ZeroFile - My Files{% endblock %} 
{% block css %}<link rel="stylesheet" href="{% static 'css/files.css' %}">{% endblock %}

{% block content %}
    <div class="files">
        <table width="90%">
            <tr>
                <th class=filename>Name</th>
                <th class=filedate>Upload Date</th>
            </tr>

            {% for f in files %}
            <tr>
                <td class=filename>
                    <a href="/{{ f.fid }}">{{ f.name }}</a>
                </td>
                <td class=filedate>{{ f.date }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
