.logo
    padding-top: 14%

form
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

button
    width: 90px !important

input[type=text],
input[type=password],
button
    background-color: $white
    color: $background
    border: solid 2px $white
    height: 28px
    width: 191px
    border-radius: .5em
    margin: 0
    box-shadow: 3px 3px 0 $red
    padding: 0 10px

