@import uploadbtn

form
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.timeout-div
    margin: 15px
    padding: 5px 5px
    width: 200px
    font-size: 1em

.timeout
    border: none
    background: $white
    font-size: 1em
    font-family: $font

.upload-button
    padding: 4px 35px
