{% extends "base.html" %} 
{% load static %}

{% block mode %}
<a class="mode" href="{% url 'streamer:stream' %}">switch to stream mode</a>
{% endblock %}

{% block content %}
    <form enctype="multipart/form-data" action="/" method="post" id="upload-form" onsubmit="return validateFile();">
        {% csrf_token %}
        <div class="file-div">
            <label class="fileinput">
                <p id="filetext">Select or drop file...</p>
                <input id="fileselect" type="file" name="fileselect" onchange="updateFile();">
            </label>
        </div>

        <div class="timeout-div" title="The file will be deleted after this time and won't be downloadable anymore.">
            <label class="timeout-label" for="timeout">Expires in 1</label>
            <select id="timeout" class="timeout">
                <option value="minute" selected>minute</option>
                <option value="hour">hour</option>
                <option value="day">day</option>
                <option value="week">week</option>
            </select>
        </div>

        <input type="submit" value="Upload" class="upload-button" id="upload-button">
    </form>
{% endblock %}

{% block footer %}
    {% if file_id %}
    <p class="linktext">"{{ file_name }}" uploaded! Link:
        <a class="link" href="{% url 'downloader:download' file_id %}">{% url 'downloader:download' file_id %}</a>
    </p>
    {% elif file_toobig %}
    <p>File too big! Only files >50MB are allowed.</p>
    {% else %}
    <p class="warning">By using this site, you agree to not uploading illegal content</p>
    <p class="migrate-notice">Notice: All files created before expiration was introduced will automatically expire and be deleted on the <b>7th of January 2021</b>.
        <br>Please plan accordingly and backup any files you want to keep.</p>
    {% endif %}
{% endblock %}

{% block js %}<script src="{% static 'js/index.js' %}"></script>{% endblock %}
