{% load static %}
<!---->
<link rel="shortcut icon" href="{% static 'fav.png' %}" type="image/png" />
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Montserrat:700,400" rel="stylesheet">
<title>ZeroFile - Simple file host</title>
<!---->
{% if request.user.is_authenticated %}
<p class="login"><a href="{% url 'manager:viewfiles' %}" class="link">My Files</a> | <a href="/logout" class="link">Logout</a></p>
{% else %}
<p class="login"><a href="{% url 'manager:register' %}" class="link">Register</a> | <a href="/login" class="link">Login</a></p>
{% endif %}

<p class="name">ZeroFile</p>
<p class="desc">Simple file hosting.</p>
<hr>
<form enctype="multipart/form-data" action="/" method="post" class="form" id="upload-form" onsubmit="return validateFile();">
    {% csrf_token %}
    <div class="file-div" id="filedrop">
        <label class="fileinput">
            <p id="filetext">Select or drop file...</p>
            <input id="fileselect" type="file" name="fileselect" onchange="updateFile();">
        </label>
    </div>
    <input type="submit" value="Upload" class="upload-button" id="upload-button">
</form>
<div class="bottom-text" id="bottom-text">
    {% if file_id %}
    <p class="linktext">"{{ file_name }}" uploaded! Link:
        <a class="link" href="{% url 'downloader:download' file_id %}">{% url 'downloader:download' file_id %}</a>
    </p>
    {% elif file_toobig %}
    <p>File too big! Only files >50MB are allowed.<p>
    {% elif file_notfound%}
    <p>404: File not found! Please check your link.</p>
    {% else %}
    <a href="#" class="warning-h">By uploading, you agree to the Terms and Conditions</a>
    <a href="#" class="warning-s">By uploading, you agree to the Terms and Conditions</a>
    <p class="terms">No illegal content allowed. 50MB upload limit. Content may be wiped without notice.</p>
    {% endif %}
</div>
<script src="{% static 'js/index.js' %}"></script>